export(iterative.window,
fixed.window,
fit.dependency.model,
plot.DependencyModel,
plot.ChromosomeArmModels,
plot.ChromosomeModels,
plot.GenomeModels,
screen.chromosome,
z.expectation,
z.projection,
W.projection)

exportClasses("DependencyModel",
"ChromosomeArmModels",
"ChromosomeModels",
"GenomeModels")

exportMethods(
"[[",
"[[<-",
"setLoc<-",
"setGeneName<-",
getW,
getPhi,
getScore,
getLoc,
getGeneName,
getChromosome,
getArm,
getModelMethod,
getParams,
getPArm,
getQArm,
getWindowSize,
getModelNumbers,
findHighestGenes,
findHighestModels
)

importFrom(graphics, plot)
