export(iterative.window,
fixed.window,
fit.dependency.model,
ppca,
pcca,
pcca.isotropic,
pfa,
fit.cgh.mrna.byname,
fit.cgh.mir.byname,
plot.DependencyModel,
plot.ChromosomeArmModels,
plot.ChromosomeModels,
plot.GenomeModels,
screen.cgh.mrna,
screen.cgh.mir,
z.expectation,
z.effects,
W.effects,
pint.data,
pint.match)

exportClasses("DependencyModel",
"ChromosomeArmModels",
"ChromosomeModels",
"GenomeModels")

exportMethods(
"[[",
"[[<-",
"setLoc<-",
"setGeneName<-",
"setArm<-",
"setChromosome<-",
getW,
getPhi,
getScore,
getLoc,
getGeneName,
getChromosome,
getArm,
getModelMethod,
getParams,
getPArm,
getQArm,
getWindowSize,
getModelNumbers,
topGenes,
topModels,
orderGenes,
findModel
)

importFrom(graphics, plot)
