export(
fit.dependency.model,
ppca,
pcca,
pcca.isotropic,
pfa,
plot.DependencyModel,
z.expectation,
z.effects,
W.effects,
pint.data,
pint.match)

exportClasses("DependencyModel")

exportMethods(
"[[",
"[[<-",
getW,
getPhi,
getScore,
getModelMethod,
getParams
#findModel
)

importFrom(graphics, plot)
