export(
# pint-related
# dependency.screen,
# fixed.window,
# fixed.window2,
fit.dependency.model,
ppca,
pcca,
pcca.isotropic,
pfa,
plot.DependencyModel,
# plot.DependencyScreenModels,
z.expectation,
z.effects,
W.effects,
# pint.data,
# pint.match,
# plot.data,
# plot.dependency,
# drCCA-related
concatenate,
drCCAcombine,
plotVar,
regCCA,
sharedVar,
specificVar,
SqrtInvMat
       )

exportClasses(
"DependencyModel"
#"DependencyScreenModels"
)

exportMethods(
#"[[",
#"[[<-",
getW,
getPhi,
getScore,
getModelMethod,
getParams,
getWindowSize
#getFeatureName,
#getModelNumbers,
#topModels,
#findModel
)

importFrom(graphics, plot)
importFrom(Matrix, nearPD)
